{
    "plugins": ["prettier-plugin-solidity"],
    "trailingComma": "all",
    "arrowParens": "avoid",
    "printWidth": 100,
    "tabWidth": 4,
    "overrides": [
      {
        "files": "*.sol",
        "options": {
          "printWidth": 100,
          "bracketSpacing": true
        }
      }
    ]
}
  